:root {
  --header-height: 4rem;
  --footer-height: 4.5rem;
  --container-height: calc(100vh - var(--header-height) - var(--footer-height));

  --app-height: 100%;
  --content-max-width: 1366px;

  --color-text-1: var(--color-mono-900);
  --color-text-2: var(--color-mono-800);
  --color-background-light: var(--color-mono-100);
  --color-background-regular: var(--color-mono-200);
  --color-background-active: var(--color-primary-100);
  --color-background-hover: var(--color-primary-200);
  --color-background-inactive: var(--color-background-regular);
  --color-background-disabled: var(--color-mono-300);
  --color-disabled: var(--color-mono-700);
  --color-error: var(--color-red-500);

  --shadow-light: 0 1px 4px rgba(0, 0, 0, 0.06);
  --shadow-hard: 0 3px 4px rgba(0, 0, 0, 0.1);

  --border-radius-light: 0.125rem;
  --border-radius-regular: 0.25rem;
  --border-radius-medium: 0.5rem;

  --border-regular: 1px solid var(--color-mono-300);
  --border-medium: 2px solid var(--color-mono-300);
  --border-semibold: 3px solid var(--color-mono-300);
  --border-bold: 4px solid currentColor;

  --outline-regular: 1px solid var(--color-mono-500);
  --outline-filled: 1px solid var(--color-primary-500);
  --outline-error: 2px solid var(--color-red-600);
  --outline-focus: 2px solid var(--color-primary-900);
  --outline-inactive: 2px solid var(--color-mono-600);
}
